html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  background: #486581
}

.note {
  padding-top: 20px;
  background: #fff;
  min-height: 100px;
  min-width: 100px;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #38BEC9;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.note .bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 100%;
  background: #38BEC9;
}

.note .bar:hover {
  cursor: move;
}

.note textarea {
  padding: 3px 10px;
  box-sizing: border-box;
  min-height: 100px;
  min-width: 100px;
  border: none;
  background: transparent;
}

.create {
  
}
